<div class="entry">

  <div class="entrytitle">
    <h2>Select a File to upload...</h2>
  </div>

  <a href="#" id="upload_button">Upload</a>
  
  <div id="upload_progress_bar" style="display:none">
    <div id="progressbar">&nbsp;</div>    
  </div>
  <div id="percents"></div>
  
  <div class="upload">
   <% form_remote_for :asset, :html => { :id => "upload", :multipart => true } do |f| %>
     <%= f.hidden_field :uuid %>
     
     <%= f.text_area :comment, :rows => 15, :cols => 5 %><br>

     <%= f.submit %>
   <% end %>
  </div>

  <div class="entrybody">
    <p>Take care files may be deleted later!!</p>

    <div id="assets" style="min-height: 500px;">
        <%= render @assets %>
    </div>
  </div>

</div>

<hr class="space" />

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var interval;

      var upload = new AjaxUpload( $('#upload_button'), {
        action: '/assets?X-Progress-ID=<%= @asset.uuid  %>',
        name: 'asset[file]',
        onSubmit : function(file, ext){
          this.setData({
            'authenticity_token': $('input[name=authenticity_token]').val(),
            'asset[uuid]': '<%= @asset.uuid  %>'
          });
          
          $('#upload_button').hide();
          $('#upload_progress_bar').show();
          this.disable();
        
          interval = window.setInterval(function(){            
            jQuery.ajax({
                type: "GET",
                url: "/progress?X-Progress-ID=<%= @asset.uuid  %>",
                dataType: "json",
                success: function(upload) {
                  if (upload.state == 'uploading') {                             
                     upload.percents = Math.floor((upload.received / upload.size)*1000)/10;
                     var bar = $.browser.safari ? $('#progressbar', parent.document) : $('#progressbar');
                     bar.css({width: upload.percents+'%'});
                     $('#percents').html(upload.percents);
                  }
            
                  if (upload.state == 'done' || upload.state == 'error') {
                    window.clearInterval(interval);
                    $('#upload_button').show();
                    $('#upload_progress_bar').hide();
                    this.enable();
                  }
                  if (upload.state == 'error') {
                    alert("Error");
                  }
                }
            });
          }, 1500);
          
        },
        onComplete: function(file, response){
          alert(file + " " + response);
          window.clearInterval(interval);
          this.enable();
        }
      });
      
    });
  </script>