<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The Traffic Machine | File Upload Progress Demo - Developer Challenge</title>
    <%= stylesheet_link_tag 'blueprint/screen' %>
    <%= stylesheet_link_tag 'styles' %>
    
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' %>
    
    <%= javascript_include_tag 'ajaxupload' %>
  </head>

  <body>
    <div id="container">
        
       <!-- header -->
       <div id="header" class="span-20">
         <div class="span-11">
           <h1><%= link_to "The Traffic Machine", index_path %></h1><br />
           <p>a File Upload Progress Demo</p>
         </div>
         
         <div class="span-9 last">
         </div>
       </div>
       <!-- /header -->
             
       <!-- content -->
       <div class="span-17" id="content">
          <%= flash_messages %>
           
          <%= yield -%>
          
       </div>
       <!-- /content -->
    
       <!-- sidebar -->
       <div class="span-2 push-1 last" id="sidebar">
           <%= yield  :sidebar -%>
       </div>
       <!-- /sidebar -->

    </div>
    <%= yield  :bottom -%>
  </body>
</html>